body {
  font-family: 'Arial', sans-serif;
  color: aliceblue;
  background-color: #0b225a;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

p{
  display: flex;
  justify-content: center;
  font-weight: bold;
}






#result .green {
  color: #2ecc71;
}

#result .red {
  color: #e74c3c;
}


























